* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .upper-header {
    margin: 25px;
  }
  
  .upper-header h1 {
    color: var(--secondary-color);
  }
  
  /* label {
    margin: 0 5px 0 0;
    display: block;
  } 
  
  .input {
    padding: 20px;
    width: 100%;
    border: solid 2px var(--primary-color);
    border-radius: 20px;
  } */
  
  .category {
    margin: 10px;
    display: flex;
  }

  .btn:hover{
    background-color: var(--primary-color);
  }
  
  .btn {
    width: 100px;
    margin: 0px 10px;
    border-radius: 20px;
    padding: 10px;
    border: solid 1px var(--primary-color);
    color: var(--secondary-color);
    background: transparent;
  }
  
.form-control{
  
 /* border: solid var(--primary-color);
  border-radius: 20px;*/
  border: none;
  
}

.search{
 align-items: center;
padding-left: 20px;
padding-bottom: 20px;
padding-top: 0px;
  
}

.searchbar{
  display: flex;
  align-items: center;
  border: solid var(--primary-color);
  border-radius: 20px;
  width: 450px;
  padding-left: 20px;
}
.progress-bar {
  width: 300px;
  height: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.progress {
  width: 50%;
  height: 100%;
  background: solid gold;
  border-radius: 20px;
<<<<<<< HEAD
}
=======
}

.card-header {
  margin: 0 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
>>>>>>> 252254d4e47d85b4ab67586459bb1d6fa6a22217
