:root {
  --primary-color: #FFCF9D;
  --secondary-color: #004225;
  --accent-color: #667085;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#side-bar {
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
  width: 100%;
  /* position: fixed; */
}

#feed {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  width: 100%;
  border: 2px solid var(--secondary-color)
}

#user-profile {
  grid-column-start: 3;
  grid-column-end: 4;
  height: 100%;
  width: 100%;
  border: 2px solid var(--primary-color)
  /* position: fixed; */
}